@import "vars"

@media only screen and (max-width : 1200px)

	.card__order
			
		.card__amount
			padding-left: 0  

	/**/

@media only screen and (max-width : 992px)



	/**/

@media only screen and (max-width : 768px)


	/**/

@media only screen and (max-width : 576px)

	.card__order
		font-size: 0.95em
		
		.order__text
			&.action
				&:after
					left: 2%
					
		.card__price
			float: none

	/**/

@media only screen and (max-width : 480px)

	.card__order
		font-size: 0.9em
		
		.order__text
			&.action
				&:after
					left: 3%
					
		.order__count
			margin-top: 1.5em
		
		.card__price
			padding: 0 .8em 
			float: right
			
	.card__btn
		margin-top: 1em

	/**/